@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#B17EBF,#9704BF);
}

main{
    background-color:#F2F2F2 ;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #f2f2f28f;
    width: 600px;
    padding: 10px;
    margin: auto;

    
}

h1{
    color:#0D0D0D ;
    text-align: center;
    text-shadow: 1px 1px 2px #000000a0;

}

h2{
color: #8C7669;
}

p{
    text-align: justify;
}